@import "tailwindcss";

body,
html {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

/* Custom confirmation toast */
.Toastify__toast--warning {
    min-width: 350px !important;
    padding: 20px !important;
    border-radius: 16px !important;
    background: #1e293b !important;
    border: 1px solid #334155 !important;
}

.Toastify__toast-body {
    font-size: 16px !important;
    color: white !important;
}